Source: mplayer-dmo
Section: graphics
Priority: extra
Maintainer: Christian Marillat <marillat@debian.org>
Bugs: mailto:marillat@debian.org
Homepage: http://www.mplayerhq.hu/
Standards-Version: 3.8.4
Build-Depends: debhelper (>> 7), libncurses5-dev, libsvga1-dev [i386], gawk,
 libesd0-dev, liblircclient-dev, libgtk2.0-dev, libvorbis-dev, libsdl1.2-dev,
 libmad0-dev, libasound2-dev (>= 1.0.1), liblzo2-dev, libfaad-dev, libdca-dev,
 libxvmc-dev, libjpeg62-dev, libaudiofile-dev, libsmbclient-dev, libfribidi-dev,
 libxv-dev, libpng3-dev, ccache, libgif-dev, libggi2-dev, libaa1-dev, quilt,
 libmp3lame-dev, libcdparanoia0-dev, libxvidcore4-dev, libdv-dev, libcaca-dev,
 liblivemedia-dev (>= 2004.05.01), libfreetype6-dev, libjack-dev,
 libgl1-mesa-dev | libgl-dev, libopencore-amrwb-dev, libbs2b-dev, libxss-dev,
 libtheora-dev, libx264-dev (>= 1:0.svn20091125), libglu1-mesa-dev,
 libfontconfig-dev, libaudio-dev, libmpcdec-dev, libggiwmh0-dev,
 libpulse-dev, libxxf86dga-dev, libjack-dev, ladspa-sdk, vstream-client-dev,
 libfaac-dev, libxinerama-dev, libtwolame-dev, libspeex-dev, libopenal-dev,
 libopencore-amrnb-dev, libvdpau-dev [amd64 i386], yasm [amd64 i386],
 libenca-dev, libdirac-dev (>= 1.0.2-2), libschroedinger-dev, liba52-0.7.4-dev,
 libdts-dev, libbz2-dev, libmng-dev, libvdpau-dev | nvidia-libvdpau1-dev

Package: mplayer
Architecture: any
Depends: ${shlibs:Depends}, mplayer-skin, ${misc:Depends}
Suggests: w32codecs (>= 1:20050412-0.1), libdvdcss, mplayer-doc, pulseaudio, jackd
Conflicts: mplayer-386, mplayer-586, mplayer-k6, mplayer-custom, mplayer-nogui, libconfhelper-perl
Replaces: mplayer-386, mplayer-586, mplayer-k6, mplayer-custom, mplayer-nogui
Description: The Ultimate Movie Player For Linux
 It plays most mpeg, avi and asf files, supported by many native and win32
 DLL codecs. You can watch VCD, DVD and even DivX movies too. The other
 big feature of mplayer is the wide range of supported output drivers. It
 works with X11, Xv, DGA, OpenGL, SVGAlib, fbdev, but you can use SDL (and
 this way all drivers of SDL) and some lowlevel card-specific drivers (for
 Matrox/3dfx/SiS) too! Most of them supports software or hardware scaling,
 so you can enjoy movies in fullscreen.

Package: mplayer-nogui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: w32codecs (>= 1:20050412-0.1), libdvdcss, mplayer-doc, pulseaudio, jackd
Conflicts: mplayer-386, mplayer-586, mplayer-k6, mplayer-custom, mplayer, mplayer-skin, libconfhelper-perl
Replaces: mplayer-386, mplayer-586, mplayer-k6, mplayer-custom, mplayer
Provides: mplayer
Description: The Ultimate Movie Player For Linux
 It plays most mpeg, avi and asf files, supported by many native and win32
 DLL codecs. You can watch VCD, DVD and even DivX movies too. The other
 big feature of mplayer is the wide range of supported output drivers. It
 works with X11, Xv, DGA, OpenGL, SVGAlib, fbdev, but you can use SDL (and
 this way all drivers of SDL) and some lowlevel card-specific drivers (for
 Matrox/3dfx/SiS) too! Most of them supports software or hardware scaling,
 so you can enjoy movies in fullscreen.
 .
 This version doesn't have the User Interface in GTK+.

Package: mencoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: w32codecs (>= 1:20050412-0.1), libdvdcss, mplayer-doc
Conflicts: mencoder-k6, mencoder-386, mencoder-586, mencoder-custom
Replaces: mencoder-k6, mencoder-386, mencoder-586, mencoder-custom
Description: MPlayer's Movie Encoder
 A simple movie encoder, designed to encode MPlayer-playable movies
 (AVI/ASF/OGG/DVD/VCD/VOB/MPG/MOV/VIV/FLI/RM/NUV/NET) to other
 MPlayer-playable formats. It can encode with various codecs, like DivX4 (1
 or 2 passes), libavcodec, PCM/MP3/VBRMP3 audio. Also has stream copying and
 video resizing abilities.

Package: mplayer-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Documentation for mplayer
 This package contains the documentation Chinese, English, French, German,
 Hungarian, Italian and Polish.
